# temporary/backup files
*~
data/
doc/_build

src/ggplib/props/*

# c++
*.d
*.o
*.so
*.bin

# python
*.pyc
*__pycache__/

# for pytest?
.cache

# 3rd party stuff
bin/install
ggp-base
ggp-repository

# log files
*.log

core
.pytest_cache