# temporary/backup files
*~
rulesheets/tmp*
rulesheets/*.kif
src/ggplib/props/*

# c++
*.d
*.o
*.so

# python
*.pyc
*__pycache__/

# for pytest?
.cache

# 3rd party stuff
bin/install
ggp-base

# log files
*.log
